.gridContainer {
	display:grid;
	grid-template-rows: [row1-start] 100% [row1-end];
	grid-template-columns: [col1-start] auto [col1-end col2-start] auto [col2end col3-start] auto [col3-end];
	grid-template-areas:
		"link1 	link2	link3";
	height:100%;
	width:100%;
}
.item-a{
	grid-area: link1;
	background-color:green;
}
.item-b{
	grid-area: link2;
	background-color:white;
}
.item-c{
	grid-area: link3;
	background-color:lime;
}